/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

.hero-img {
    border-bottom: 2px solid #000;
}

.navbar {
    background-color: #EEE5D1;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    box-sizing: inherit;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 10px
}