/* CSS stylesheet  for application */

.hero-img {
    width: 100% !important;
    background-color: #EEE5D1 !important;
    border-bottom: 2px solid #000 !important;
    text-align: center !important;
}

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

.navbar {
    background-color: #EEE5D1;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    box-sizing: inherit;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 10px
}

#body {
    background-color: #EEE5D1;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    padding-top: 20px;
}

.dropdown {
    display: inline-block;
    margin: 10px;
}

.dropdown button {
    background-color: white !important;
    color: #333333 !important;
    /* font-family: 'Montserrat', sans-serif !important; ----- FIX FOR HELVETE */
    border: 0 !important;
    box-shadow: 0px 1px 16px -4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 1px 16px -4px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 16px -4px rgba(0,0,0,0.55);
    padding: 10px 20px;
    margin-top: 10px;
}


.btn btn-primary{
    float:right;
}